.start-menu-container {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 52px;
  justify-content: center;
  align-items: center;
}

.menu-options {
  display: flex;
  width: 25%;
  height: 70%;
  padding: 73px 50px;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.538);


  .title {
    font-size: 3rem;
    margin-bottom: 20px;
  }
}

.menu-button {
  display: flex;
  width: 290px;
  height: 45px;
  border-radius: 30px;
  font-weight: bold;
  justify-content: center;
  text-align: center;
  font-family: "Anek Gujarati";
  text-transform: uppercase;
  overflow: hidden;
  font-size: 140%;
  line-height: 30px;
  letter-spacing: 1.25px;
  transition: .5s;



  &:hover {
    background-color: #03e9f4;
    color: #050801;
    box-shadow: 0 0 5px #03e9f4,
      0 0 25px#03e9f4,
      0 0 50px #03e9f4,
      0 0 300px #03e9f4;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);

    &:first-child {
      filter: hue-rotate(225deg);
    }

    &:last-child {
      filter: hue-rotate(90deg);
    }
  }
}

.game-rules {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 41%;
  height: 72%;
  font-size: 120%;
  border-radius: 30px;
  color: #050801;
  background: rgba(255, 255, 255, 0.47);

  .rules-container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    h1 {
      display: flex;
      justify-content: center;
      background: transparent;

      p {
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 10px;
        color: #050801;
      }
    }
  }

}

.home-button {
  border: none;
  padding: 10px 20px;
  margin-top: 20px;
  font-size: 1.2rem;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

@media (max-width: 480px) {
  .start-menu-container {
    display: flex;
    width: 100%;
    height: 100%;

    .menu-options {
      background: none;

      .title {
        width: 330%;
      }
    }

    .home-button {
      width: 90%;
      height: 80%;
      background-color: none;
      display: contents;
      align-items: center;


    }

    .rules-container {
      display: none;

    }

    .game-rules {
      display: none;
    }
  }
}